@model IEnumerable<QLCoffee.Models.SANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    int i = 0;
}

<h2>Danh sách sản phẩm</h2>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th style="width: 50px;">
            STT
        </th>
        <th id="txt-align">
            Mã sản phẩm
        </th>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Giá sản phẩm
        </th>
        <th id="txt-align">
            Số Lượng
        </th>
        <th id="txt-align">
            Mã loại sản phẩm
        </th>
        <th id="txt-align">
            Ngày sản xuất
        </th>
        <th id="txt-align">
            Hình ảnh
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        i++;
        <tr>
            <td id="txt-align">@i</td>
            <td id="txt-align">
                @Html.DisplayFor(modelItem => item.MaSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @string.Format("{0:#,0}", item.GiaSP) @*Định dạng số có ,*@
            </td>
            <td id="txt-align">
                @Html.DisplayFor(modelItem => item.SoLuongSP)
            </td>
            <td id="txt-align">
                @Html.DisplayFor(modelItem => item.MaLoaiSP)
            </td>
            <td id="txt-align">
               @string.Format("{0:dd-MM-yyyy}",item.NgaySX) @*Định dạng ngày*@ 
            </td>
            <td id="txt-align">
                @if (!string.IsNullOrEmpty(item.Image1))
                {
                    <img src="@Url.Content(item.Image1)" alt="Image" style="width: 100px; height: 100px;" />
                }
                else
                {
                    <span>No Image</span>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaSP }, new { @class = "btn btn-sm btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaSP }, new { @class = "btn btn-sm btn-dark" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaSP }, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
    }

</table>
