@model IEnumerable<QLCoffee.Models.TAIKHOAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    int i = 0;
}
<style>
    #txt-align{

    }
</style>
<h2>Danh sách tài khoản</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
    
</p>

<table class="table">
    <tr>
        <th style="width: 50px;" >
            STT
        </th >
        <th>
            Tên đăng nhập
        </th>
        <th>
           Mật khẩu
        </th>       
        <th id="txt-align">
           Phân quyền
        </th>
        <th id="txt-align">
            Mã khách hàng
        </th>
        <th id="txt-align">
            Mã nhân viên
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        i++;
        <tr>
            <td id="txt-align">@i</td>
            <td>
                @item.TenDN
            </td>
            <td>
                @item.MatKhau
            </td>           
            <td id="txt-align">
                @Html.DisplayFor(modelItem => item.PhanQuyen)
            </td>
            <td id="txt-align">
                @Html.DisplayFor(modelItem => item.MaKH)
            </td>
            <td id="txt-align">
                @Html.DisplayFor(modelItem => item.MaNV)
            </td>           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TenDN }, new { @class = "btn btn-sm btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.TenDN, }, new { @class = "btn btn-sm btn-dark" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TenDN }, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
    }
</table>
