@model QLCoffee.Models.PRODUCT

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PRODUCT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NamePro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamePro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desciption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desciption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAISANPHAM.TenLoaiSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAISANPHAM.TenLoaiSP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDPro }) |
    @Html.ActionLink("Back to List", "Index")
</p>
